:root {
 --primary-color: #4CAF50;
 --text-primary-color: white;
}

/*
TODO: deixar responsivo e com media queries.
*/
/*
main:div {
    display: flex;
    flex-direction: column;
}*/

.site-header {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px 20px 10px 20px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    text-align: center;
    font-size: 22px;
    border-radius: 10px 20px 10px 20px;
    height: 10%;
}

.site-logo {
    height: 40px;  
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.menu-reference {
    color: var(--text-primary-color);
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.menu-reference:hover {
    cursor: pointer;
    background-color: #50c754;
    transition: background-color 0.5s;
}

.site-footer {
    position: fixed;
    bottom: 1%;
    left: 1%;
    right: 1%;
    height: 5%;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px 20px 20px 20px;
}

/* --- Cards --- */

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 1px;
}

.card {
    min-width: 15%;
    min-height: 130px;
    background-color: rgba(221, 231, 221, 0.5);
    margin: 5px auto;
    padding: 10px;
    border: 1px solid rgba(74, 157, 10, 0.5);
    border-radius: 10px;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card-logo  {
    height: 130px;
    width: auto;
}



.card p {
    margin: 0;
    color: #50c754;
    font-size: 15px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.6s ease;
    cursor: pointer;
}


/*    Scrollable Container */

.scrollable-container {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    width: 95%;
}

.scrollable-content {
    overflow-y: auto;
    flex: 1;
    width: 100%;
    height: 100%;
}

.create-btn {
    color: var(--primary-color);
    align-self: flex-end;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.create-btn:hover {
    background-color: #a3eaa5;
    transition: all 0.5s ease;
    cursor: pointer;
}


.orchid {
    display: flex;
    list-style-type: none;
    color: rgba(11, 82, 14, 0.7);
    background-color: rgb(243, 255, 240, 0.5);
    border-radius: 10px;
    padding: 5px;
    gap: 5px;
    justify-content: space-between;
}

.orchid-elem {
    border-radius: 5px;
    transition: all 0.4s ease;
}

.orchid-elem:hover {
    transform: translateY(-2px);
    cursor: pointer;
    background-color: #a3eaa5;
    transition: all 0.4s ease;
}

.ul-hr {
     border: none;
     border-top: 2px solid #b0ecb2;
}

.orchid-menu  {
    background-color: rgb(255, 255, 255);
    color: #164918;   
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    align-self: flex-end;
    transition: all 0.4s ease; 
}

.orchid-menu:hover{
     background-color: rgba(151, 195, 140, 0.5);
     transition: all 0.4s ease;
     cursor: pointer;
}

.form-container {
    min-width: 90%;
    min-height: 450px;
}

.orchid-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-footer {
    position: fixed;
    bottom: 10%;
    left: 1%;
    right: 1%;
    height: 5%;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px 20px 20px 20px;
}

/*   orchids-Information    */

.characteristic-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.characteristic-icon {
    max-width: 30px;
    max-height: 30px;
}

.orchid-content {
    display: flex;
    align-self: flex-start;
    min-width: 70%;
    min-height: 100%;
    justify-content: space-around;
    align-items: center;
}

.orchid-main-image {
    max-width: 300px;
    max-height: 300px;
}

/*  SOBRE  */

.about-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.about-card {
    width: 250px;
    height: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #52b757;
    border-radius: 15px;
    backdrop-filter: blur(8px);
    color: #52b757;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 5px; 
}

.about-card p {
    font-size: 24px; 
    margin: 0; 
}

.about-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.25);
    cursor: pointer;
}



