:root {
 --primary-color: #4CAF50;
 --text-primary-color: white;
}

/*
TODO: deixar responsivo e com media queries.
*/

.site-header {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-radius: 10px 20px 10px 20px;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-logo {
    height: 40px;  
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

.menu-reference {
    color: var(--text-primary-color);
    text-decoration: none;
    padding: 10px;
    margin: 0 15px;
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 20px;
}

.menu-reference:hover {
    cursor: pointer;
    background-color: #50c754;
    transition: background-color 0.5s;
}

.site-footer {
    position: fixed;
    bottom: 1%;
    left: 1%;
    right: 1%;
    height: 5%;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    border-radius: 20px 20px 20px 20px;
}